@import "../../../../_scss/mixsins.scss";

.main-container {
  padding: 120px 0 120px 0;
  @include media(medium) {
    padding: 48px 0 48px 0;
  }
}

.heading {
  text-transform: uppercase;
}
.cards-container {
  margin-top: 40px;
}
