@import "../../../../../_scss/mixsins.scss";
.cart-item {
  padding: 0px 15px 0px 15px;
  height: fit-content;
  &-icon {
    display: flex;
    font-size: 45px;
    padding-right: 7px;
    //   border-radius: 50%;
    //   border: 2px solid #67d5b5;
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
  }
  &-heading {
    font-size: 1.25rem;
    margin-bottom: 15px;
    @include media(medium) {
      font-size: 2rem;
    }
  }
  &-description {
    color: #777;
    font-size: 13px;
    line-height: 2;
    display: inline-block;
    max-width: 360px;
    text-align: justify;
    @include media(medium) {
      justify-content: center;
      max-width: 500px;
      text-align: center;
      font-size: 10px;
    }
  }
}
