@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-size: 16px;
}

@media (max-width: 768px) {
  :root {
    font-size: 12px;
  }
}

@media (max-width: 642px) {
  :root {
    font-size: 8px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.center {
  margin-inline: auto;
  width: 100%;
  max-width: 1440px;
}

.main-heading {
  font-size: 1.75rem;
  font-weight: 700;
  color: #141414;
  margin: 0 0 15px 0;
  letter-spacing: 0.1rem;
  line-height: 1.4;
  text-transform: uppercase;
}

* {
  box-sizing: border-box;
}

body,
html {
  width: 100%;
}
