@import "../../../../../_scss/mixsins.scss",
  "../../../../../_scss/variable.scss";

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
  @include media(medium) {
    margin-bottom: 48px;
  }
  &-item {
    display: block;
    color: inherit;
    padding: 8px 18px;
    border: 2px solid #f0f5f9;
    transition: all 0.2s ease-in-out;
    &:not(:last-child) {
      margin-right: 20px;
    }
    &:hover {
      cursor: pointer;
      border-color: $primaryColor;
      background-color: $primaryColor;
      text-decoration: none;
      color: #fff;
    }
  }
}
