.cart-item {
  padding: 65px 15px 15px 15px;
  &-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #67d5b5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-heading {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  &-description {
    color: #777;
    font-size: 13px;
    line-height: 2;
    display: inline-block;
    max-width: 360px;
    text-align: center;
  }
}
