@import  "../../../../_scss/mixsins.scss";

.main-container{
  padding: 0 0 120px 0;
  @include media(medium) {
    padding: 0 0 48px 0;
  }
}

.cards-container {
  margin-top: 120px;
  @include media(medium) {
    margin-top: 40px;
  }
}
.heading {
  font-size: 1.75rem;
  line-height: 1.4;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 700;
  color: #141414;
}
